<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header'); -%>

    <div id="main">
      <div>TEST React</div>
      <div id="root"></div>
    </div>

    <%- include('includes/footer'); -%>
    <script src="/reload/reload.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>
